body{
    margin: 0;
  }
  
  main{
    max-width: 80%;
    margin: auto;
  }
  /* Top of page */
  h2.main-title{
    text-transform: uppercase;
  }
  
  h1.town{
    text-transform: capitalize;
    letter-spacing: 1px;
  }
  
  section{
    border: 2px aqua solid;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  section h1{
    margin: 5px;
  }
  
  .pannel{
    display: flex;
    justify-content: space-between;
  
  }
  /* Left pannel */
  .left-pannel{
    display: flex;
    align-items: center;
  }
  
  .left-pannel div{
    margin-left: 50px;
  }
  
  .left-pannel img{
    width:300px;
  }
  
  p.temp{
    /* rem => 1rem = 16px ; 2rem => 32px*/
    font-size: 4rem;
    font-weight: bolder;
  }
  
  p.temp, p.feels-like{
      margin: 0;
  }
  
  p.feels-like{
    font-size: 2rem;
  }
  
  /* right pannel */
  
  .right-pannel{
    margin-right: 50px;
    width: 500px;
    font-size: 18px;
    
  }
  
  .right-pannel p{
    margin: 12px 0;
    display: flex;
    justify-content: space-between;
  }
  
  .right-pannel .green{
    color:green;
  }
  
  /* Footer */
  footer{
    margin-top: 100px;
    padding: 1rem;
    background-color: aqua;
  }